<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>uni00A0</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>uni00AD</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>dotlessi</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>OE</string>
    <string>oe</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>florin</string>
    <string>uni02B9</string>
    <string>uni02BC</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>uni0305</string>
    <string>uni0305.half</string>
    <string>uni0307</string>
    <string>uni0323</string>
    <string>uni0332</string>
    <string>uni0332.half</string>
    <string>uni0333</string>
    <string>uni0333.half</string>
    <string>uni0338</string>
    <string>uni033F</string>
    <string>uni033F.half</string>
    <string>uni034F</string>
    <string>uni0352</string>
    <string>pi</string>
    <string>uni2000</string>
    <string>uni2001</string>
    <string>uni2002</string>
    <string>uni2003</string>
    <string>uni2004</string>
    <string>uni2005</string>
    <string>uni2006</string>
    <string>uni2007</string>
    <string>uni2008</string>
    <string>uni2009</string>
    <string>uni200A</string>
    <string>uni200B</string>
    <string>uni200C</string>
    <string>uni200D</string>
    <string>uni200E</string>
    <string>uni200F</string>
    <string>uni2010</string>
    <string>uni2011</string>
    <string>figuredash</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni2015</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>uni2028</string>
    <string>uni2029</string>
    <string>uni202A</string>
    <string>uni202B</string>
    <string>uni202C</string>
    <string>uni202D</string>
    <string>uni202E</string>
    <string>uni202F</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>uni2060</string>
    <string>uni2061</string>
    <string>uni2062</string>
    <string>uni2063</string>
    <string>uni206A</string>
    <string>uni206B</string>
    <string>uni206C</string>
    <string>uni206D</string>
    <string>uni206E</string>
    <string>uni206F</string>
    <string>uni2070</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
    <string>Euro</string>
    <string>uni20E5</string>
    <string>trademark</string>
    <string>Omega</string>
    <string>partialdiff</string>
    <string>Delta</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>lozenge</string>
    <string>uni25CC</string>
    <string>uni266D</string>
    <string>uni266D.Lrg</string>
    <string>uni266E</string>
    <string>uni266E.Lrg</string>
    <string>uni266F</string>
    <string>uni266F.Lrg</string>
    <string>uniA78B</string>
    <string>uniA78C</string>
    <string>fi</string>
    <string>fl</string>
    <string>uniFE00</string>
    <string>uniFE01</string>
    <string>uniFE02</string>
    <string>uniFE03</string>
    <string>uniFE04</string>
    <string>uniFE05</string>
    <string>uniFE06</string>
    <string>uniFE07</string>
    <string>uniFE08</string>
    <string>uniFE09</string>
    <string>uniFE0A</string>
    <string>uniFE0B</string>
    <string>uniFE0C</string>
    <string>uniFE0D</string>
    <string>uniFE0E</string>
    <string>uniFE0F</string>
    <string>uniFEFF</string>
    <string>uniFFF9</string>
    <string>uniFFFA</string>
    <string>uniFFFB</string>
    <string>uniFFFC</string>
    <string>uniFFFD</string>
    <string>u1D100</string>
    <string>u1D101</string>
    <string>u1D102</string>
    <string>u1D103</string>
    <string>u1D106</string>
    <string>u1D107</string>
    <string>u1D108</string>
    <string>u1D110</string>
    <string>u1D112</string>
    <string>u1D175</string>
    <string>u1D176</string>
    <string>u1D177</string>
    <string>u1D178</string>
    <string>u1D1B1</string>
    <string>u1D1B2</string>
    <string>u1D177.TipBlw</string>
    <string>u1D178.TipBlw</string>
    <string>u1D1771D178.Slur01Below</string>
    <string>u1D1771D178.Slur02Below</string>
    <string>u1D1771D178.Slur03Below</string>
    <string>u1D1771D178.Slur04Below</string>
    <string>u1D1771D178.Slur05Below</string>
    <string>u1D1771D178.Slur06Below</string>
    <string>u1D1771D178.Slur07Below</string>
    <string>u1D1771D178.Slur08Below</string>
    <string>u1D1771D178.Slur09Below</string>
    <string>u1D1771D178.Slur10Below</string>
    <string>u1D1771D178.Slur11Below</string>
    <string>u1D1771D178.Slur12Below</string>
    <string>u1D1771D178.Slur13Below</string>
    <string>u1D1771D178.Slur14Below</string>
    <string>u1D177.TipAbv</string>
    <string>u1D178.TipAbv</string>
    <string>u1D1771D178.Slur01Abv</string>
    <string>u1D1771D178.Slur02Abv</string>
    <string>u1D1771D178.Slur03Abv</string>
    <string>u1D1771D178.Slur04Abv</string>
    <string>u1D1771D178.Slur05Abv</string>
    <string>u1D1771D178.Slur06Abv</string>
    <string>u1D1771D178.Slur07Abv</string>
    <string>u1D1771D178.Slur08Abv</string>
    <string>u1D1771D178.Slur09Abv</string>
    <string>u1D1771D178.Slur10Abv</string>
    <string>u1D1771D178.Slur11Abv</string>
    <string>u1D1771D178.Slur12Abv</string>
    <string>u1D1771D178.Slur13Abv</string>
    <string>u1D1771D178.Slur14Abv</string>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>uni00A0</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>uni00AD</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>dotlessi</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>OE</string>
    <string>oe</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>florin</string>
    <string>uni02B9</string>
    <string>uni02BC</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>uni0305</string>
    <string>uni0305.half</string>
    <string>uni0307</string>
    <string>uni0323</string>
    <string>uni0332</string>
    <string>uni0332.half</string>
    <string>uni0333</string>
    <string>uni0333.half</string>
    <string>uni0338</string>
    <string>uni033F</string>
    <string>uni033F.half</string>
    <string>uni034F</string>
    <string>uni0352</string>
    <string>pi</string>
    <string>uni2000</string>
    <string>uni2001</string>
    <string>uni2002</string>
    <string>uni2003</string>
    <string>uni2004</string>
    <string>uni2005</string>
    <string>uni2006</string>
    <string>uni2007</string>
    <string>uni2008</string>
    <string>uni2009</string>
    <string>uni200A</string>
    <string>uni200B</string>
    <string>uni200C</string>
    <string>uni200D</string>
    <string>uni200E</string>
    <string>uni200F</string>
    <string>uni2010</string>
    <string>uni2011</string>
    <string>figuredash</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni2015</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>uni2028</string>
    <string>uni2029</string>
    <string>uni202A</string>
    <string>uni202B</string>
    <string>uni202C</string>
    <string>uni202D</string>
    <string>uni202E</string>
    <string>uni202F</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>uni2060</string>
    <string>uni2061</string>
    <string>uni2062</string>
    <string>uni2063</string>
    <string>uni206A</string>
    <string>uni206B</string>
    <string>uni206C</string>
    <string>uni206D</string>
    <string>uni206E</string>
    <string>uni206F</string>
    <string>uni2070</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
    <string>Euro</string>
    <string>uni20E5</string>
    <string>trademark</string>
    <string>Omega</string>
    <string>partialdiff</string>
    <string>Delta</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>lozenge</string>
    <string>uni25CC</string>
    <string>uni266D</string>
    <string>uni266D.Lrg</string>
    <string>uni266E</string>
    <string>uni266E.Lrg</string>
    <string>uni266F</string>
    <string>uni266F.Lrg</string>
    <string>uniA78B</string>
    <string>uniA78C</string>
    <string>fi</string>
    <string>fl</string>
    <string>uniFE00</string>
    <string>uniFE01</string>
    <string>uniFE02</string>
    <string>uniFE03</string>
    <string>uniFE04</string>
    <string>uniFE05</string>
    <string>uniFE06</string>
    <string>uniFE07</string>
    <string>uniFE08</string>
    <string>uniFE09</string>
    <string>uniFE0A</string>
    <string>uniFE0B</string>
    <string>uniFE0C</string>
    <string>uniFE0D</string>
    <string>uniFE0E</string>
    <string>uniFE0F</string>
    <string>uniFEFF</string>
    <string>uniFFF9</string>
    <string>uniFFFA</string>
    <string>uniFFFB</string>
    <string>uniFFFC</string>
    <string>uniFFFD</string>
    <string>u1D100</string>
    <string>u1D101</string>
    <string>u1D102</string>
    <string>u1D103</string>
    <string>u1D106</string>
    <string>u1D107</string>
    <string>u1D108</string>
    <string>u1D110</string>
    <string>u1D112</string>
    <string>u1D175</string>
    <string>u1D176</string>
    <string>u1D177</string>
    <string>u1D178</string>
    <string>u1D1B1</string>
    <string>u1D1B2</string>
    <string>u1D177.TipBlw</string>
    <string>u1D178.TipBlw</string>
    <string>u1D1771D178.Slur01Below</string>
    <string>u1D1771D178.Slur02Below</string>
    <string>u1D1771D178.Slur03Below</string>
    <string>u1D1771D178.Slur04Below</string>
    <string>u1D1771D178.Slur05Below</string>
    <string>u1D1771D178.Slur06Below</string>
    <string>u1D1771D178.Slur07Below</string>
    <string>u1D1771D178.Slur08Below</string>
    <string>u1D1771D178.Slur09Below</string>
    <string>u1D1771D178.Slur10Below</string>
    <string>u1D1771D178.Slur11Below</string>
    <string>u1D1771D178.Slur12Below</string>
    <string>u1D1771D178.Slur13Below</string>
    <string>u1D1771D178.Slur14Below</string>
    <string>u1D177.TipAbv</string>
    <string>u1D178.TipAbv</string>
    <string>u1D1771D178.Slur01Abv</string>
    <string>u1D1771D178.Slur02Abv</string>
    <string>u1D1771D178.Slur03Abv</string>
    <string>u1D1771D178.Slur04Abv</string>
    <string>u1D1771D178.Slur05Abv</string>
    <string>u1D1771D178.Slur06Abv</string>
    <string>u1D1771D178.Slur07Abv</string>
    <string>u1D1771D178.Slur08Abv</string>
    <string>u1D1771D178.Slur09Abv</string>
    <string>u1D1771D178.Slur10Abv</string>
    <string>u1D1771D178.Slur11Abv</string>
    <string>u1D1771D178.Slur12Abv</string>
    <string>u1D1771D178.Slur13Abv</string>
    <string>u1D1771D178.Slur14Abv</string>
  </array>
</dict>
</plist>
