<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>u1D110</key>
  <string>u1D_110.glif</string>
  <key>u1D175</key>
  <string>u1D_175.glif</string>
  <key>u1D176</key>
  <string>u1D_176.glif</string>
  <key>u1D177</key>
  <string>u1D_177.glif</string>
  <key>u1D177.TipAbv</key>
  <string>u1D_177.T_ipA_bv.glif</string>
  <key>u1D177.TipBlw</key>
  <string>u1D_177.T_ipB_lw.glif</string>
  <key>u1D1771D178.Slur01Abv</key>
  <string>u1D_1771D_178.S_lur01A_bv.glif</string>
  <key>u1D1771D178.Slur01Below</key>
  <string>u1D_1771D_178.S_lur01B_elow.glif</string>
  <key>u1D1771D178.Slur02Abv</key>
  <string>u1D_1771D_178.S_lur02A_bv.glif</string>
  <key>u1D1771D178.Slur02Below</key>
  <string>u1D_1771D_178.S_lur02B_elow.glif</string>
  <key>u1D1771D178.Slur03Abv</key>
  <string>u1D_1771D_178.S_lur03A_bv.glif</string>
  <key>u1D1771D178.Slur03Below</key>
  <string>u1D_1771D_178.S_lur03B_elow.glif</string>
  <key>u1D1771D178.Slur04Abv</key>
  <string>u1D_1771D_178.S_lur04A_bv.glif</string>
  <key>u1D1771D178.Slur04Below</key>
  <string>u1D_1771D_178.S_lur04B_elow.glif</string>
  <key>u1D1771D178.Slur05Abv</key>
  <string>u1D_1771D_178.S_lur05A_bv.glif</string>
  <key>u1D1771D178.Slur05Below</key>
  <string>u1D_1771D_178.S_lur05B_elow.glif</string>
  <key>u1D1771D178.Slur06Abv</key>
  <string>u1D_1771D_178.S_lur06A_bv.glif</string>
  <key>u1D1771D178.Slur06Below</key>
  <string>u1D_1771D_178.S_lur06B_elow.glif</string>
  <key>u1D1771D178.Slur07Abv</key>
  <string>u1D_1771D_178.S_lur07A_bv.glif</string>
  <key>u1D1771D178.Slur07Below</key>
  <string>u1D_1771D_178.S_lur07B_elow.glif</string>
  <key>u1D1771D178.Slur08Abv</key>
  <string>u1D_1771D_178.S_lur08A_bv.glif</string>
  <key>u1D1771D178.Slur08Below</key>
  <string>u1D_1771D_178.S_lur08B_elow.glif</string>
  <key>u1D1771D178.Slur09Abv</key>
  <string>u1D_1771D_178.S_lur09A_bv.glif</string>
  <key>u1D1771D178.Slur09Below</key>
  <string>u1D_1771D_178.S_lur09B_elow.glif</string>
  <key>u1D1771D178.Slur10Abv</key>
  <string>u1D_1771D_178.S_lur10A_bv.glif</string>
  <key>u1D1771D178.Slur10Below</key>
  <string>u1D_1771D_178.S_lur10B_elow.glif</string>
  <key>u1D1771D178.Slur11Abv</key>
  <string>u1D_1771D_178.S_lur11A_bv.glif</string>
  <key>u1D1771D178.Slur11Below</key>
  <string>u1D_1771D_178.S_lur11B_elow.glif</string>
  <key>u1D1771D178.Slur12Abv</key>
  <string>u1D_1771D_178.S_lur12A_bv.glif</string>
  <key>u1D1771D178.Slur12Below</key>
  <string>u1D_1771D_178.S_lur12B_elow.glif</string>
  <key>u1D1771D178.Slur13Abv</key>
  <string>u1D_1771D_178.S_lur13A_bv.glif</string>
  <key>u1D1771D178.Slur13Below</key>
  <string>u1D_1771D_178.S_lur13B_elow.glif</string>
  <key>u1D1771D178.Slur14Abv</key>
  <string>u1D_1771D_178.S_lur14A_bv.glif</string>
  <key>u1D1771D178.Slur14Below</key>
  <string>u1D_1771D_178.S_lur14B_elow.glif</string>
  <key>u1D178</key>
  <string>u1D_178.glif</string>
  <key>u1D178.TipAbv</key>
  <string>u1D_178.T_ipA_bv.glif</string>
  <key>u1D178.TipBlw</key>
  <string>u1D_178.T_ipB_lw.glif</string>
  <key>uni0305</key>
  <string>uni0305.glif</string>
  <key>uni0305.half</key>
  <string>uni0305.half.glif</string>
  <key>uni0338</key>
  <string>uni0338.glif</string>
  <key>uni0352</key>
  <string>uni0352.glif</string>
  <key>uni20E5</key>
  <string>uni20E_5.glif</string>
  <key>uniA78B</key>
  <string>uniA_78B_.glif</string>
</dict>
</plist>
