<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>overscore</key>
  <string>overscore.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u1D100</key>
  <string>u1D_100.glif</string>
  <key>u1D101</key>
  <string>u1D_101.glif</string>
  <key>u1D102</key>
  <string>u1D_102.glif</string>
  <key>u1D103</key>
  <string>u1D_103.glif</string>
  <key>u1D106</key>
  <string>u1D_106.glif</string>
  <key>u1D107</key>
  <string>u1D_107.glif</string>
  <key>u1D108</key>
  <string>u1D_108.glif</string>
  <key>u1D110</key>
  <string>u1D_110.glif</string>
  <key>u1D112</key>
  <string>u1D_112.glif</string>
  <key>u1D175</key>
  <string>u1D_175.glif</string>
  <key>u1D176</key>
  <string>u1D_176.glif</string>
  <key>u1D177</key>
  <string>u1D_177.glif</string>
  <key>u1D177.TipAbv</key>
  <string>u1D_177.T_ipA_bv.glif</string>
  <key>u1D177.TipBlw</key>
  <string>u1D_177.T_ipB_lw.glif</string>
  <key>u1D1771D178.Slur01Abv</key>
  <string>u1D_1771D_178.S_lur01A_bv.glif</string>
  <key>u1D1771D178.Slur01Below</key>
  <string>u1D_1771D_178.S_lur01B_elow.glif</string>
  <key>u1D1771D178.Slur02Abv</key>
  <string>u1D_1771D_178.S_lur02A_bv.glif</string>
  <key>u1D1771D178.Slur02Below</key>
  <string>u1D_1771D_178.S_lur02B_elow.glif</string>
  <key>u1D1771D178.Slur03Abv</key>
  <string>u1D_1771D_178.S_lur03A_bv.glif</string>
  <key>u1D1771D178.Slur03Below</key>
  <string>u1D_1771D_178.S_lur03B_elow.glif</string>
  <key>u1D1771D178.Slur04Abv</key>
  <string>u1D_1771D_178.S_lur04A_bv.glif</string>
  <key>u1D1771D178.Slur04Below</key>
  <string>u1D_1771D_178.S_lur04B_elow.glif</string>
  <key>u1D1771D178.Slur05Abv</key>
  <string>u1D_1771D_178.S_lur05A_bv.glif</string>
  <key>u1D1771D178.Slur05Below</key>
  <string>u1D_1771D_178.S_lur05B_elow.glif</string>
  <key>u1D1771D178.Slur06Abv</key>
  <string>u1D_1771D_178.S_lur06A_bv.glif</string>
  <key>u1D1771D178.Slur06Below</key>
  <string>u1D_1771D_178.S_lur06B_elow.glif</string>
  <key>u1D1771D178.Slur07Abv</key>
  <string>u1D_1771D_178.S_lur07A_bv.glif</string>
  <key>u1D1771D178.Slur07Below</key>
  <string>u1D_1771D_178.S_lur07B_elow.glif</string>
  <key>u1D1771D178.Slur08Abv</key>
  <string>u1D_1771D_178.S_lur08A_bv.glif</string>
  <key>u1D1771D178.Slur08Below</key>
  <string>u1D_1771D_178.S_lur08B_elow.glif</string>
  <key>u1D1771D178.Slur09Abv</key>
  <string>u1D_1771D_178.S_lur09A_bv.glif</string>
  <key>u1D1771D178.Slur09Below</key>
  <string>u1D_1771D_178.S_lur09B_elow.glif</string>
  <key>u1D1771D178.Slur10Abv</key>
  <string>u1D_1771D_178.S_lur10A_bv.glif</string>
  <key>u1D1771D178.Slur10Below</key>
  <string>u1D_1771D_178.S_lur10B_elow.glif</string>
  <key>u1D1771D178.Slur11Abv</key>
  <string>u1D_1771D_178.S_lur11A_bv.glif</string>
  <key>u1D1771D178.Slur11Below</key>
  <string>u1D_1771D_178.S_lur11B_elow.glif</string>
  <key>u1D1771D178.Slur12Abv</key>
  <string>u1D_1771D_178.S_lur12A_bv.glif</string>
  <key>u1D1771D178.Slur12Below</key>
  <string>u1D_1771D_178.S_lur12B_elow.glif</string>
  <key>u1D1771D178.Slur13Abv</key>
  <string>u1D_1771D_178.S_lur13A_bv.glif</string>
  <key>u1D1771D178.Slur13Below</key>
  <string>u1D_1771D_178.S_lur13B_elow.glif</string>
  <key>u1D1771D178.Slur14Abv</key>
  <string>u1D_1771D_178.S_lur14A_bv.glif</string>
  <key>u1D1771D178.Slur14Below</key>
  <string>u1D_1771D_178.S_lur14B_elow.glif</string>
  <key>u1D178</key>
  <string>u1D_178.glif</string>
  <key>u1D178.TipAbv</key>
  <string>u1D_178.T_ipA_bv.glif</string>
  <key>u1D178.TipBlw</key>
  <string>u1D_178.T_ipB_lw.glif</string>
  <key>u1D1B1</key>
  <string>u1D_1B_1.glif</string>
  <key>u1D1B2</key>
  <string>u1D_1B_2.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni00AD</key>
  <string>uni00A_D_.glif</string>
  <key>uni02B9</key>
  <string>uni02B_9.glif</string>
  <key>uni02BC</key>
  <string>uni02B_C_.glif</string>
  <key>uni0305</key>
  <string>uni0305.glif</string>
  <key>uni0305.half</key>
  <string>uni0305.half.glif</string>
  <key>uni0307</key>
  <string>uni0307.glif</string>
  <key>uni0323</key>
  <string>uni0323.glif</string>
  <key>uni0332</key>
  <string>uni0332.glif</string>
  <key>uni0332.half</key>
  <string>uni0332.half.glif</string>
  <key>uni0333</key>
  <string>uni0333.glif</string>
  <key>uni0333.half</key>
  <string>uni0333.half.glif</string>
  <key>uni0338</key>
  <string>uni0338.glif</string>
  <key>uni033F</key>
  <string>uni033F_.glif</string>
  <key>uni033F.half</key>
  <string>uni033F_.half.glif</string>
  <key>uni034F</key>
  <string>uni034F_.glif</string>
  <key>uni0352</key>
  <string>uni0352.glif</string>
  <key>uni2000</key>
  <string>uni2000.glif</string>
  <key>uni2001</key>
  <string>uni2001.glif</string>
  <key>uni2002</key>
  <string>uni2002.glif</string>
  <key>uni2003</key>
  <string>uni2003.glif</string>
  <key>uni2004</key>
  <string>uni2004.glif</string>
  <key>uni2005</key>
  <string>uni2005.glif</string>
  <key>uni2006</key>
  <string>uni2006.glif</string>
  <key>uni2007</key>
  <string>uni2007.glif</string>
  <key>uni2008</key>
  <string>uni2008.glif</string>
  <key>uni2009</key>
  <string>uni2009.glif</string>
  <key>uni200A</key>
  <string>uni200A_.glif</string>
  <key>uni200B</key>
  <string>uni200B_.glif</string>
  <key>uni200C</key>
  <string>uni200C_.glif</string>
  <key>uni200D</key>
  <string>uni200D_.glif</string>
  <key>uni200E</key>
  <string>uni200E_.glif</string>
  <key>uni200F</key>
  <string>uni200F_.glif</string>
  <key>uni2010</key>
  <string>uni2010.glif</string>
  <key>uni2011</key>
  <string>uni2011.glif</string>
  <key>uni2015</key>
  <string>uni2015.glif</string>
  <key>uni2028</key>
  <string>uni2028.glif</string>
  <key>uni2029</key>
  <string>uni2029.glif</string>
  <key>uni202A</key>
  <string>uni202A_.glif</string>
  <key>uni202B</key>
  <string>uni202B_.glif</string>
  <key>uni202C</key>
  <string>uni202C_.glif</string>
  <key>uni202D</key>
  <string>uni202D_.glif</string>
  <key>uni202E</key>
  <string>uni202E_.glif</string>
  <key>uni202F</key>
  <string>uni202F_.glif</string>
  <key>uni2060</key>
  <string>uni2060.glif</string>
  <key>uni2061</key>
  <string>uni2061.glif</string>
  <key>uni2062</key>
  <string>uni2062.glif</string>
  <key>uni2063</key>
  <string>uni2063.glif</string>
  <key>uni206A</key>
  <string>uni206A_.glif</string>
  <key>uni206B</key>
  <string>uni206B_.glif</string>
  <key>uni206C</key>
  <string>uni206C_.glif</string>
  <key>uni206D</key>
  <string>uni206D_.glif</string>
  <key>uni206E</key>
  <string>uni206E_.glif</string>
  <key>uni206F</key>
  <string>uni206F_.glif</string>
  <key>uni2070</key>
  <string>uni2070.glif</string>
  <key>uni2074</key>
  <string>uni2074.glif</string>
  <key>uni2075</key>
  <string>uni2075.glif</string>
  <key>uni2076</key>
  <string>uni2076.glif</string>
  <key>uni2077</key>
  <string>uni2077.glif</string>
  <key>uni2078</key>
  <string>uni2078.glif</string>
  <key>uni2079</key>
  <string>uni2079.glif</string>
  <key>uni2080</key>
  <string>uni2080.glif</string>
  <key>uni2081</key>
  <string>uni2081.glif</string>
  <key>uni2082</key>
  <string>uni2082.glif</string>
  <key>uni2083</key>
  <string>uni2083.glif</string>
  <key>uni2084</key>
  <string>uni2084.glif</string>
  <key>uni2085</key>
  <string>uni2085.glif</string>
  <key>uni2086</key>
  <string>uni2086.glif</string>
  <key>uni2087</key>
  <string>uni2087.glif</string>
  <key>uni2088</key>
  <string>uni2088.glif</string>
  <key>uni2089</key>
  <string>uni2089.glif</string>
  <key>uni20E5</key>
  <string>uni20E_5.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>uni266D</key>
  <string>uni266D_.glif</string>
  <key>uni266D.Lrg</key>
  <string>uni266D_.L_rg.glif</string>
  <key>uni266E</key>
  <string>uni266E_.glif</string>
  <key>uni266E.Lrg</key>
  <string>uni266E_.L_rg.glif</string>
  <key>uni266F</key>
  <string>uni266F_.glif</string>
  <key>uni266F.Lrg</key>
  <string>uni266F_.L_rg.glif</string>
  <key>uniA78B</key>
  <string>uniA_78B_.glif</string>
  <key>uniA78C</key>
  <string>uniA_78C_.glif</string>
  <key>uniFE00</key>
  <string>uniF_E_00.glif</string>
  <key>uniFE01</key>
  <string>uniF_E_01.glif</string>
  <key>uniFE02</key>
  <string>uniF_E_02.glif</string>
  <key>uniFE03</key>
  <string>uniF_E_03.glif</string>
  <key>uniFE04</key>
  <string>uniF_E_04.glif</string>
  <key>uniFE05</key>
  <string>uniF_E_05.glif</string>
  <key>uniFE06</key>
  <string>uniF_E_06.glif</string>
  <key>uniFE07</key>
  <string>uniF_E_07.glif</string>
  <key>uniFE08</key>
  <string>uniF_E_08.glif</string>
  <key>uniFE09</key>
  <string>uniF_E_09.glif</string>
  <key>uniFE0A</key>
  <string>uniF_E_0A_.glif</string>
  <key>uniFE0B</key>
  <string>uniF_E_0B_.glif</string>
  <key>uniFE0C</key>
  <string>uniF_E_0C_.glif</string>
  <key>uniFE0D</key>
  <string>uniF_E_0D_.glif</string>
  <key>uniFE0E</key>
  <string>uniF_E_0E_.glif</string>
  <key>uniFE0F</key>
  <string>uniF_E_0F_.glif</string>
  <key>uniFEFF</key>
  <string>uniF_E_F_F_.glif</string>
  <key>uniFFF9</key>
  <string>uniF_F_F_9.glif</string>
  <key>uniFFFA</key>
  <string>uniF_F_F_A_.glif</string>
  <key>uniFFFB</key>
  <string>uniF_F_F_B_.glif</string>
  <key>uniFFFC</key>
  <string>uniF_F_F_C_.glif</string>
  <key>uniFFFD</key>
  <string>uniF_F_F_D_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
